@font-face {
  font-family: 'Muller Thin';
  src: url("../fonts/MullerThinDEMO.eot");
  src: url("../fonts/MullerThinDEMO.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerThinDEMO.woff") format("woff"), url("../fonts/MullerThinDEMO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller ExtraBold';
  src: url("../fonts/MullerExtraBoldDEMO.eot");
  src: url("../fonts/MullerExtraBoldDEMO.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerExtraBoldDEMO.woff") format("woff"), url("../fonts/MullerExtraBoldDEMO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 940px;
  margin: auto;
}

.head-title {
  font-family: 'Muller ExtraBold', sans-serif;
  margin: 0;
  margin-top: 80px;
  text-align: center;
  font-size: 36px;
  position: relative;
}

.head-title::before {
  content: '';
  width: 119px;
  height: 5px;
  background: url("../img/wave.png") no-repeat center;
  background-size: 100%;
  display: block;
  position: absolute;
  bottom: -70%;
  left: 45%;
}

.btn {
  font-family: 'Muller ExtraBold', sans-serif;
  border: 2px solid #e28234;
  background: transparent;
  color: #e28234;
  padding: 15px 25px;
}

.btn:hover {
  background: #e28234;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: auto;
    padding: 20px;
  }
}

body {
  font-family: 'Muller Thin', sans-serif;
  font-weight: 800;
  color: #000000;
}

body img {
  max-width: 100%;
}

.header {
  background: #fff url("../img/header/header-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 20px;
  color: #ffffff;
}

.hero-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
  margin-bottom: 180px;
}

.hero__call {
  font-size: 14px;
  margin-bottom: 10px;
}

.hero__number {
  font-family: 'Muller ExtraBold', sans-serif;
  font-size: 20px;
}

.hero-info {
  text-align: center;
}

.hero-heading {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
}

.hero-heading__slash {
  font-family: arial;
  font-weight: 20px;
}

.hero-title {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 45px;
  margin-bottom: 15px;
}

.hero-subtitle {
  font-size: 20px;
  margin-bottom: 100px;
}

.hero-btn {
  font-family: 'Muller ExtraBold', sans-serif;
  color: #ffffff;
  padding: 20px 70px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background-color: transparent;
  outline: none;
  margin-bottom: 200px;
}

.hero-btn:hover {
  background-color: #db883c;
  border: none;
  padding: 22px 72px;
}

.hero-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-media {
  width: 26px;
  height: 26px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0 20px;
  position: relative;
}

.hero-media-vk {
  position: absolute;
  top: 8px;
  left: 5px;
}

.hero-media-faceb {
  position: absolute;
  top: 5px;
  left: 9px;
}

.hero-media-inst {
  position: absolute;
  top: 25%;
  left: 27%;
}

.hero-media:hover {
  background-color: #db883c;
}

.about {
  background-color: #f8f2e4;
  padding: 50px 0;
}

.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-description {
  margin-left: 80px;
  max-width: 400px;
}

.about__title {
  font-size: 30px;
  margin-bottom: 46px;
}

.about__tour {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 900;
}

.about__subtitle {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 50px;
  line-height: 22px;
}

.about__group {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__label {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

@media screen and (max-width: 912px) {
  .about-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-description {
    max-width: 100%;
    margin: 0;
  }
  .about__title {
    text-align: center;
    margin-bottom: 20px;
  }
  .about-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 475px) {
  .about-info {
    display: block;
  }
}

.reasons-vacation {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reasons-vacation__group {
  margin: 0 30px;
  min-width: 220px;
}

.reasons-vacation__label {
  font-size: 16px;
  font-weight: 800;
}

.request {
  padding-bottom: 80px;
}

.request-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.request-weight {
  margin: 5px;
  display: block;
  background-color: #fff8e6;
  width: 225px;
  padding-top: 31px;
  padding-bottom: 20px;
}

.request__date {
  color: #4b4b4b;
  font-size: 14px;
}

.request__lowering {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */